/************************************************
    CUSTOM PROPERTIES
 ************************************************/

/************************************************
    HEADER 
 ************************************************/
.header-logo {
    width: 60px;
}

table {
    table-layout: fixed;
}

/************************************************
    MAIN 
 ************************************************/

/************************************************
    FOOTER 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/

/************************************************
    FONTS
 ************************************************/
