/************************************************
    HEADER 
 ************************************************/
.header-logo {
    width: 60px;
}

/************************************************
    MAIN 
 ************************************************/

table {
    /* table-layout: fixed; */
}

.accordion {
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
}

.list-group-flush > .list-group-item {
    border-width: 0 0 var(--bs-list-group-border-width);
}

/************************************************
    RESPONSIVE
 ************************************************/
@media screen and (max-width: 1920px) {
    .card {
        width: 100% !important;
    }
}
@media screen and (min-width: 1920px) {
    .float-xxl-start {
        margin-right: 2rem;
    }
    table {
        /* width: auto !important; */
        /* table-layout: initial !important; */
    }
}
